name: Release

on:
  push:
    branches:
      - main
      - master

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    container:
      image: alpine:3.20

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - run: toolkit/scripts/ci-release.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
